# Secret info #
###############
password*.py
config.py

# Compiled source #
###################
*.pyc

# Output files #
################
*.out
*.dl

# OS files #
############
.DS_Store
.DS_Store?
._*
.Trashes
Icon?
Thumbs.db

