# Secret info #
###############
password*.py
config.py

# proprietary stuff #
#####################
cop*

# Notebooks #
#############
*.ipynb

# Compiled source #
###################
*.pyc

# Output files #
################
*.csv
*.out
*.dl
*.txt

# OS files #
############
.DS_Store
.DS_Store?
._*
.Trashes
Icon?
Thumbs.db

