# Secret info #
###############
password*
config*

# Libraries #
wikitools

# proprietary stuff #
#####################
cop*
aapg*

# Notebooks #
#############
*.ipynb

# Compiled source #
###################
*.pyc

# Output files #
################
*.csv
*.out
*.dl
*.txt

# OS files #
############
.DS_Store
.DS_Store?
._*
.Trashes
Icon?
Thumbs.db

# Emacs Files #
###############
.#.*
\#*#
*~
