<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>patrol</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Le styles -->
    <link href="/patrol/static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    
    <style>
      .chart div {
      font: 10px sans-serif;
      background-color: #428bca;
      float: right;
      text-align: right;
      padding: 3px;
      margin: 1px;
      color: white;
      }
    </style>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="/patrol/static/js/bootstrap.js"></script>
    <script src="/patrol/static/js/button.js"></script>

    <script>  
      $(document).ready(function() {
      $('.dropdown-toggle').dropdown();
      });
    </script>

  </head>

  <body>

<div class="container">  
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Patrol</a>
  </div>
  <p class="navbar-text">Simple quality control for wikis</p>
</nav>
</div>
    
    <div class="container"> <!-- start container -->
      {% if not worst %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Get new pages from...</h3>
        </div>
          <div class="panel-body">

          <form method="post" id="form-inline" class="form-horizontal" role="form">

          
          <div class="form-group">
            <label for="url" class="col-sm-2 control-label">URL for api.php</label>
            <div class="col-sm-10">
              <input name="url" type="text" placeholder="http://www.subsurfwiki.org/mediawiki/api.php" class="form-control">
            </div>
          </div>
          
          <div class="form-group">
            <label for="categories" class="col-sm-2 control-label">Categories</label>
            <div class="col-sm-10">
              <textarea name="categories" rows="3" placeholder="All pages... or enter one category per line" class="form-control"></textarea>
            </div>
          </div>
          
          <div class="form-group">
            <label for="threshold" class="col-sm-2 control-label">Threshold of good</label>
            <div class="col-sm-10">
              <input name="threshold" type="text" placeholder="10" class="form-control">
            </div>
          </div>
          
          <div class="form-group">
            <label for="days" class="col-sm-2 control-label">Number of days</label>
            <div class="col-sm-10">
              <input name="days" type="text" placeholder="14" class="form-control">
            </div>
          </div>
          
          <div class="btn-group">
            <button type="submit" id="getpages" class="btn btn-primary" data-loading-text="Finding pages...">
              Get pages
              <script>
                $(':input[data-loading-text]').click(function () {
                  var btn = $(this)
                  btn.button('loading')
                })
              </script>
            </button>
    

          </div>
          
        </form>
        
        </div>
        
        <div class="panel-footer" style="color:lightgray;">Queries can take up to a minute or more, depending on your settings.</div>

      </div>


      {% endif %}

      {% if worst %}
        <div class="jumbotron">
          <h3>Worst page{% if worst.__len__() > 1 %}s{% endif %}<br />
              <small style="color:lightgray; line-height=67%;">{{ url }}</small></h3>
          <table width="100%">
            {% for page in worst %}
              <tr>
                <td style="width:15%">
                  <div class="chart" style="padding:0 1em 0 0;">
                    <div style="width: {{ 100 - results[page][0] * ( 100 / threshold ) }}px;">{{ 10 - results[page][0] * ( 10 / threshold ) | int }}</div>
                  </div>
                </td>

                <td  width="20%">
                <form display="inline">
                  <button type="button" class="btn btn-success" onclick="location.href='{{ page_url }}?title={{ page | replace(' ','_') }}&action=edit'">Edit</button>
                  <button type="button" class="btn btn-info" onclick="location.href='{{ page_url }}?title={{ page | replace(' ','_') }}&action=history'">History</button>
                </form>
                </td>

                <td>
                  <a href="{{ page_url }}?title={{ page | replace(' ','_') }}">{{ page }}</a>
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
      {% endif %}

      
      {% if bad %}
        <div class="jumbotron">
          <h3>Page{% if bad.__len__() > 1 %}s{% endif %} with possibly bad title{% if bad.__len__() > 1 %}s{% endif %}</h3>
          <p>
            {% for page in bad %}
              <li><a href="{{ page_url }}?title={{page|replace(" ","_")}}">{{ page }}</a></li>
            {% endfor %}
          </p>
        </div>
      {% endif %}
    
      <footer>
        <div style="float:right">
          <a href="http://webapp-improved.appspot.com/">
            <img src="http://webapp-improved.appspot.com/_static/webapp2_blue_small.png" 
                 title="Powered by webapp2"
                 alt="Powered by webapp2"
                 width="100" /></a>
        </div>
        <p><a href="http://www.agilegeoscience.com/">Agile Geoscience 2013</a></p>
      </footer>
  
    </div> <!-- end container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/patrol/static/js/bootstrap-dropdown.js"></script>

  </body>
</html>